*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: url(../images/bg.jpg) 0 0 no-repeat;
	background-size: cover;
	color: #fff;
	font-size: 12px;
	font-family: sans-serif;
}
html,body{
	height: 100%;
}
ul,li{
	list-style: none;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}
a,a:hover{
	text-decoration: none;
	color: inherit;
}
.wrap{
    width: 996px;
    margin: 0 auto;
    display: flex;
    height: 560px;
    position: relative;
    margin-top: 50px;
    /*top: 50%;*/
    /*margin-top: -280px;*/
}

.lesson-box{
    margin-left: 30px;
		margin-top: 70px;
		position: relative;
}
.lesson-box .lesson-list{
	width: 100%;
}
.lesson-box .lesson-list li{
	float: left;
	width: 50%;
	margin-bottom: 5px;
}
.lesson-box .out-circle {
    width: 90px;
    height: 90px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.lesson-box .out-circle:hover {
    padding: 0;
    border-width: 11px;
}
.lesson-box .out-circle:hover .in-circle{
	border-width: 0;
}
.lesson-box .out-circle img{
	width: 100%;
	height: 100%;
}
.lesson-box .lesson-list .des{
	padding-top: 4px;
	position: relative;
}
.lesson-box .lesson-list .des:before,.lesson-box .lesson-list .des:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    position: absolute;
    border-radius: 5px;
    top: 8px; 
}
.lesson-box .lesson-list .des:before{
 	left: 11px;
}
.lesson-box .lesson-list .des:after{
	right: 11px;
}
.lesson-box .lesson-list .des p{
	text-align: center;
}
.lesson-box .lesson-list .des:hover p{
    text-shadow: 0 0 2px #fff;
		font-weight: 600;
}

.out-circle{
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 5px;
}
.in-circle{
	width: 100%;
	height: 100%;
	border: 5px solid  #fff;
	border-radius: 50%;
	overflow: hidden;
		position: relative;
		background-color: #000;
}

.btn{
	background-image: url(../images/sprite.png);
	width: 13px;
    height: 13px;
    position: absolute;
}
.btn-left{
	background-position: -0px -59px;
	left: 0;
	top: 50%;
}
.btn-left:hover,.btn-left.action{
	background-position: -0px -36px;
}
.btn-right{
	background-position: -0px -105px;
	right: 0;
	top: 50%;
}
.btn-right:hover,.btn-right.action{
	background-position: -0px -82px;
}
.btn-up{
	background-position: -0px -141px;
	top: -25px;
	left: 50%;
	margin-left: -6.5px;
}
.btn-up:hover,.btn-up.action{
	background-position: -0px -123px;
}
.btn-down{
	background-position:  -0px -18px;
	bottom: -25px;
	left: 50%;
	margin-left: -6.5px;
}
.btn-down:hover,.btn-down.action{
	background-position: -0px -0px;
}