.wrap{
	width: 1050px;
	height: 590px;
	display: block;
}
.col-left{
	width: 180px;
	float: left;	
}
.col-left .left-home{
	width: 100%;
	height: 122px;
}
.col-middle{
	width: 572px;
	float: left;
}
.col-right{
	width: 298px;
	float: left;
}
.h-top{
	width: 100%;
	height: 60px;
	background: #000;
    position: relative;

}
.h-middle{
	width: 100%;
	height: 378px;
	/*border-top: 1px solid rgb(53,74,79);
	border-bottom: 1px solid rgb(53,74,79);*/
}
.h-bottom{
	width: 100%;
	height: 122px;
	background: rgba(0,0,0,0.3);
	text-align: center;
}

.col-middle .h-top{
	background: rgb(0,37,46);
	text-align: center;
}
.col-middle .h-middle{
	background: rgb(0,0,0);
}
.col-right .h-top {
    padding: 18px 0;
}
.col-left .h-middle {
    background: rgba(0,0,0,.2);
}


.logo{	    
    padding: 12px 43px;
}
.logo img{
	width: 83px;
	height: 38px;
	vertical-align: middle;
}

.main-content,.music-score-box{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 30px 20px 0 40px;
}
.music-score-box{
    padding: 0;
}
.music-socre-box img{
    width: 100%;
}
.main-content::-webkit-scrollbar,.music-score-box::-webkit-scrollbar{
	width:10px;
	background:linear-gradient(to right, #b0b0b0 ,rgb(84,86,87));
	border-radius: 5px;
}
.main-content::-webkit-scrollbar-thumb,.music-score-box::-webkit-scrollbar-thumb{
	height:35px;
	background:#ffe737;
	border-radius: 5px;
}




.main-content .content{
	white-space: pre-line;
}

.news-box{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 37px 0;
    text-align: center;
}
.news-box .news-list {
    height: 100%;
    overflow: hidden;
}
.news-box .news-list li{
	margin-left: 45px;
}
.news-box .news-list li a {
    display: inline-block;
    padding: 8px 14px;
    width: 100%;
    position: relative;
}
.news-box .news-list li a:before {
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    border: 2px solid #fff;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.news-box .btn-up{
	top: 14px;
}
.news-box .btn-down{
	bottom: 10px;
}

h3.title:hover {
    border-width: 2px;
    font-weight: 600;
}
h3.title {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    border: 1px solid #fff;
    padding: 4px 9px;
    border-radius: 30px;
    position: relative;
    top: 16px;
}

.home{
    width: 66px;
    height: 50px;
    float: left;
    margin: 36px 53px 45px 62px;
}
.home a {
    display: table;
    width: 100%;
    height: 100%;
    background: url(../images/jita.png) no-repeat 0 0;
    color: #738084;
    text-align: right;
    padding-top: 40%;
    font-weight: 700;
    transition: all .5s;
}
.home a:hover {
    background-image: url(../images/jita_hover.png);
    color: #fff;
}

.nav {
    /*position: relative;
    top: 50%;
    transform: translateY(-50%);*/
    margin-top: 27px;
}

.search-box {
    width: 208px;
    position: relative;
    height: 24px;
	margin: 0 auto;
}
.search-box .search-ipt {
    outline: none;
    border: 1px solid #fff;
    box-shadow: 0 0 6px rgb(157,158,159);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: #000;
    text-indent: 30px;
    color: #fff;
    position: relative;
}
.search-box .search-icon {
    display: inline-block;
    position: absolute;
    width: 11px;
    height: 11px;
    top: 7px;
    background: url(../images/search.png) no-repeat 0 0;
    left: 7px;
}
.lesson-box {
    margin-top: 35px;
    margin-left: 10px;
}
.product-intro {
    text-align: center;
    margin: 20px 12px 0 18px;
    float: left;
}
.product-intro p {
    font-size: 10px;
    margin-bottom: 12px;
}
.product-intro .product-title{
	font-size: 14px;
}
.product-img {
    width: 100%;
    height: 100%;
}
.product-img img{
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.download{
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    background: url(../images/load.png) 0 0 no-repeat;
    transform: translateY(-50%);
    right: 25%;
}
.download:hover,.download:active{
    background: url(../images/load_hover.png) 0 0 no-repeat;
}