section{
	float: left;
	overflow: hidden;
}
.cl-1,.cl-3{
	flex: 5;
}
.cl-2{
	flex: 6;
}

.logo{
	margin-top: 15px;
	width: 107px;
	height: 50px;
}
.intro{
    margin-top: 128px;
    position: relative;
    padding-left: 17px;
}
.intro .split-left{
	position: absolute;
	width: 8px;
	height: 37px;
	left: 0;
	top: 0;
	border: 1px solid rgb(182,192,194);
	background: #fff;
}


.search-box{
	margin: 15px auto 28px auto;
	text-align: center;
	position: relative;
}
.search-box .search-ipt{
    outline: none;
    border: 1px solid #fff;
    box-shadow: 0 0 6px rgb(157,158,159);
    border-radius: 15px;
    width: 192px;
    height: 22px;
    background-color: #000;
    text-indent: 30px;
    color: #fff;
}
.search-box .search-icon{
	display: inline-block;
    position: relative;
    width: 11px;
    height: 11px;
    top: 2px;
    background: url(images/search.png) no-repeat 0 0;
    left: -50%;
}


.out-circle{
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 5px;
}
.in-circle{
	width: 100%;
	height: 100%;
	border: 5px solid  #fff;
	border-radius: 50%;
	overflow: hidden;
		position: relative;
		background-color: #000;
}
.slide{
	width: 100%;
	height: 297px;
	position: relative;
}
.slide .out-circle{
	width: 297px;
	height: 297px;
	margin-left: 50%;
	transform: translateX(-50%);
	border-width: 2px;
}
.slide .in-circle{
	border-width: 10px;	
}
.btn{
	background-image: url(images/sprite.png);
	width: 13px;
    height: 13px;
    position: absolute;
}
.btn-left{
	background-position: -0px -59px;
	left: 0;
	top: 50%;
}
.btn-left:hover,.btn-left.action{
	background-position: -0px -36px;
}
.btn-right{
	background-position: -0px -105px;
	right: 0;
	top: 50%;
}
.btn-right:hover,.btn-right.action{
	background-position: -0px -82px;
}
.btn-up{
	background-position: -0px -141px;
	top: -25px;
	left: 50%;
	margin-left: -6.5px;
}
.btn-up:hover,.btn-up.action{
	background-position: -0px -123px;
}
.btn-down{
	background-position:  -0px -18px;
	bottom: -25px;
	left: 50%;
	margin-left: -6.5px;
}
.btn-down:hover,.btn-down.action{
	background-position: -0px -0px;
}

.slide .slide-box{
	position: absolute;
    height: 100%;
    left: -17px;
    top: -17px;
  	width:900px;
}
.slide li{
	width: 279px;
	height: 279px;
	border-radius: 50%;
	float: left;
}
.slide-focus{
	width: 100%;
	padding: 25px 0;
	text-align: center;
}
.slide-focus ul{
	display: inline-block;
	padding: 10px;
}
.slide-focus ul li{
	height: 25px;
	margin-left: 20px;
	margin-right: 20px;
	background: #fff;
	float: left;
	box-sizing: content-box;
	border: 1px solid rgb(154,179,184);
}
.slide-focus ul li:hover,.slide-focus ul li.action{
	width: 1px;
}

.nav{
	border: 10px solid #fff;
	padding: 0 8px;
}
.nav li{
	padding: 10px 4px 4px 4px;
	text-align: center;
	float: left;
	font-size: 11px;
}
.nav li .circle{
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid #fff;
	border-radius: 50%;
}
.nav li a:hover .circle,.nav li a.aciton .circle{
	background: #fff;
}

.lesson-box{
    margin-left: 30px;
		margin-top: 70px;
		position: relative;
}
.lesson-box .lesson-list{
	width: 100%;
}
.lesson-box .lesson-list li{
	float: left;
	width: 50%;
	margin-bottom: 5px;
}
.lesson-box .out-circle {
    width: 90px;
    height: 90px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.lesson-box .out-circle:hover {
    padding: 0;
    border-width: 11px;
}
.lesson-box .out-circle:hover .in-circle{
	border-width: 0;
}
.lesson-box .out-circle img{
	width: 100%;
	height: 100%;
}
.lesson-box .lesson-list .des{
	padding-top: 4px;
	position: relative;
}
.lesson-box .lesson-list .des:before,.lesson-box .lesson-list .des:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #fff;
    position: absolute;
    border-radius: 5px;
    top: 8px; 
}
.lesson-box .lesson-list .des:before{
 	left: 11px;
}
.lesson-box .lesson-list .des:after{
	right: 11px;
}
.lesson-box .lesson-list .des p{
	text-align: center;
}
.lesson-box .lesson-list .des:hover p{
    text-shadow: 0 0 2px #fff;
		font-weight: 600;
}